[Unit]
Description=GPlayer3
After=multi-user.target
Wants=multi-user.target


[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/sirius2beta/GPlayer3
ExecStart=/usr/bin/python3 /home/sirius2beta/GPlayer3/demo.py
Restart=always
RestartSec=5
KillMode=control-group
TimeoutStopSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
